.sosials {
    display: flex;
    column-gap: 10px;
    justify-content: center;
}
.sosials-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.sosials-icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.soc-link-icon--fill-light {

}
.soc-link-icon--fill-dark {

}